<input type="text" [(ngModel)] ="title" >
{{title}}

<div *ngIf="title === 'nickname'">
  este es un div
</div>

<button (click)="addItem()" >Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.title }}
  <!-- para modificar un atributo del html se utiliza llaves cuadradas -->
  <img [src]="product.image" alt="">
  {{ product.price }}
</div>
